body {
    background-image: url("https://preview.redd.it/ohq043q9y7t11.png?width=640&crop=smart&auto=webp&s=b1a941a940d78df246f421457b1e21c854348b26");
    background-size: cover;
    font-family: Sans-serif;
    text-align: center;
    height: 100vh;
}

.container {
      background-color: rgba(0, 0, 0, 0.5);
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

